/* src/screens/Appointment.css */
.appointments,
.booking-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 600px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading,
.booking-details h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.booking-requests,
.booking-details div {
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-request,
.booking-details p {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.5;
}

.booking-details p strong {
  color: #555;
}

.booking-status {
  color: #fff;
  background-color: #007bff;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
}

.booking-status.rejected {
  background-color: #dc3545;
}
