.home-container {
  padding: 20px;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #ff5722; /* Change this to your preferred color */
  font-family: 'Pacifico', cursive; /* Add a custom font family */
  display: flex;
  align-items: center;
}

.logo i {
  margin-right: 10px;
  font-size: 32px;
}

.headline {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.categories-dropdown {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dropdown-container {
  text-align: center;
}

.dropdown-container h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dropdown-container select {
  width: 200px;
  padding: 5px;
  font-size: 16px;
}

.user-details {
  text-align: right;
}

.faq-container {
  margin-top: 20px;
}

.faq-list {
  list-style: none;
  padding: 0;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.faq-answer {
  padding: 10px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  
}
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  font-size: 24px; /* Smaller font size */
  font-weight: bold;
  color: #ff5722; /* Change this to your preferred color */
  font-family: 'Pacifico', cursive; /* Add a custom font family */
  display: flex;
  align-items: center;
}

.logo i {
  margin-right: 10px;
  font-size: 28px; /* Adjust icon size */
}

.brand-name {
  font-size: 25px; /* Smaller font size */
  font-weight: bold;
  font-family: 'Pacifico', cursive; /* Use the same or different font family */
  background: linear-gradient(90deg, #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, #00ff7f, #00ffff, #007fff, #0000ff, #7f00ff, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
